@keyframes slidedown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY();
        opacity: 1;
    }
}

#header {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slidedown 0.5s cubic-bezier(0, 0, 0.01, 1);
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

#header img {
    max-width: 100%;
    height: auto;
}

a:hover {
    color: darkturquoise
}

@keyframes slideFadeIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

h2 {
    font-family: 'Meiryo', 'メイリオ', sans-serif;
    opacity: 0;
    padding: 0.5em 1em;
    color: #4c54c0;
    background-color: #e1e4f5;
    box-shadow: 5px -5px #4c54c0;
    position: relative;
    animation: slideFadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}

#list-home {
    opacity: 0;
    list-style: none;
    padding: 0;
    animation: slideFadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
}

#list-home li {
    opacity: 0;
    background: #ebebf8;
    border-left: 12px solid #9b99de;
    margin-bottom: 3px;
    padding: .5em;
    animation: slideFadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY();
        opacity: 1;
    }
}

#headerMenu {
    opacity: 0;
    display: flex;
    justify-content: space-around;
    background-color: #e5deff;
    border-bottom: 3px solid #e9ecef;
    flex-wrap: wrap;
    padding: 10px;
    animation: slideUp 0.5s cubic-bezier(0, 0, 0.01, 1);
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}

#headerMenu a {
    font-family: 'Meiryo', 'メイリオ', sans-serif;
    text-decoration: none;
    color: #4c54c0;
    font-size: 18px;
    position: relative;
}

#headerMenu a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

#headerMenu a:hover::after {
    background-color: #4c54c0;
}

#headerMenu a img {
    height: 1em;
    position: relative;
    top: 1px;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#blogContent{
    font-family: 'メイリオ', 'Meiryo', serif;
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    padding: 0px 20px 10px 15px;
    border: 1px solid rgba(76, 84, 192, 0.1);
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
}